/* General configutarions */
body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 991px;
  margin: 0 auto;
}

.form-control {
  width: 340px;
  height: 30px;
  border: 1px solid #707070;
  margin-bottom: 10px;
  margin-right: 8px;
}

input:focus {
  outline: none;
}

label {
  font-size: 12px;
  display: inline-block;
  line-height: 14px;
  padding-right: 8px;
}

.btn-common {
  border: 1px solid #707070;
  border-radius: 4px;
  background-color: #ffffff;
  width: 345px;
  height: 39px;
  color: #888888;
}

.btn-center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */

.header {
  background-color: #707070;
  height: 450px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.banner {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.banner > h2,
h1,
p {
  color: #fff;
  position: relative;
}

.banner > h2 {
  font-size: 20px;
  top: 69px;
}

.banner > h1 {
  font-size: 40px;
  font-weight: bold;
  top: 92px;
}

.banner > p {
  font-size: 16px;
  top: 150px;
  line-height: 16px;
}

.button-group {
  position: relative;
  top: 200px;
}

.btn-banner {
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 160px;
  height: 40px;
  color: #888888;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  margin-left: 40px;
}

/* Main */

#col-6 {
  float: left;
  width: 45%;
  padding-top: 60px;
  padding-left: 100px;
}

article > h2 {
  padding-bottom: 20px;
  color: #888888;
}

.article-text {
  color: #888888;
  letter-spacing: 0;
  text-align: left;
}

#col-4 {
  float: right;
  width: 30%;
  padding-top: 60px;
  padding-right: 100px;
  color: #888888;
}

.form-control {
  display: block;
}

.radio-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  width: 80%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  color: #888888;
  font-weight: bold;
  padding-top: 100px;
  font-size: 18px;
}

h3:before,
h3:after {
  content: '';
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid #888888;
}

h3:after {
  margin: 0 -55% 0 0.5em;
}

section > p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #888888;
}

#form-indication {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Footer */

.footer {
  background-color: #707070;
  height: 200px;
  -webkit-clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 26%, 100% 0, 100% 100%, 0% 100%);
}

.footer > p {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.footer > p:first-child {
  padding-top: 120px;
}
