/* General Configurations */
.container {
  width: 600px;
  margin: 0 auto;
}

/* Header */

.header {
  height: 300px;
}

/* Main */

article h2 {
  font-size: 20px;
  font-weight: normal;
}

main {
  margin-top: 300px;
}

.card-group {
  justify-content: space-between;
}
